@model IEnumerable<PizzaStore.Models.Order>



@*    <section class="section section-feature pb-0">
        <div class="container w-md-70">
            <div class="card card-bordered card-preview">
                <div class="card-inner">
                <table class="datatable-init-export nowrap table" data-export-title="Exporter">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Number</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th> &nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.OrderNumber</td>
                                    <td>@item.OrderStatus</td>
                                    <td>@item.CreatedDate.Date</td>
                                    <td class="text-center">
                                    <a asp-action="DeleteOrder" asp-route-orderId="@item.Id" asp-controller="OrderDetails">delete</a>
                                    <a asp-action="OrderDetails" asp-route-orderId="@item.Id" asp-controller="OrderDetails">more</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div><!-- .card-preview -->
        </div>
    </section>
*@



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-lg-4 col-xxl-3 w-250px">
            <div class="card card-bordered h-100">
                <div class="card-inner">
                    <div class="project">
                        <div class="project-head">
                            <a class="project-title">
                                <div class="project-info">
                                    <h6 class="title">@item.OrderNumber</h6><span class="sub-text">@item.CreatedDate.ToShortDateString()</span>
                                </div>
                            </a>
                            <div class="drodown">
                                <a href="#" class="dropdown-toggle btn btn-sm btn-icon btn-trigger mt-n1 me-n1"
                                   data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <ul class="link-list-opt no-bdr">
                                        <li>
                                            <a asp-action="OrderDetails" asp-route-orderId="@item.Id" asp-controller="OrderDetails">
                                                <em class="icon ni ni-eye"></em>
                                                <span>View Order</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="DeleteOrder" asp-route-orderId="@item.Id" asp-controller="OrderDetails">
                                                <em class="icon ni ni-trash"></em>
                                                <span>Delete Order</span>

                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="project-details">
                            <h3 class="text-success">$ @item.Total</h3>
                        </div>
                        <div class="project-meta">
                            <ul class="project-users g-1">
                                <li>
                                    <div class="user-avatar sm bg-white"><img src="~/images/hot-tasty-pizza-png.png" alt=""></div>
                                </li>
                            </ul><span class="badge badge-dim bg-warning">
                                <em class="icon ni ni-clock"></em><span>
                                    @item.OrderStatus
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



